<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <title>WellnessCentre Api</title>
  </head>
  <body>
    <header class="navbar navbar-expand-lg navbar-primary bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img height="100px" width="100px" src="aayush.jpg" alt="Startup AYUSH Portal" class="logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="scheme">Schemes</a>
                   
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Schemes
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Centre sector scheme</a></li>
                            <li><a class="dropdown-item" href="#">Centre sponsored scheme</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">New startup funding sch.</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="container mx-4">

                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>

                <div class="ml-2">
                    <a href="sign_in"><button class="btn btn-primary btn-sm">Sign In</button></a>
                    
                    
                </div>

            </div>

        </div>
    </header>
    
    <div class="container my-4">

    <div class="row featurette d-flex justify-content-between align-items-center">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1">Connect with startups.<span class="text-body-secondary"></span></h2>
          <p class="lead">Join a global network of AYUSH startups and entrepreneurs.</p>
        </div>
        <div class="col-md-5">
          <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="250" height="250" src="startup2.png" alt="">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette d-flex justify-content-between align-items-center">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading fw-normal lh-1">Find Investors.<span class="text-body-secondary"></span></h2>
          <p class="lead">Discover investors interested in supporting AYUSH ventures.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="250" height="250" src="investors2.jpeg" alt="">
        </div>
      </div>

    <hr class="featurette-divider">

    
    <div class="row featurette d-flex justify-content-between align-items-center">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1">Access Resources.<span class="text-body-secondary"></span></h2>
          <p class="lead">Explore resources and guides for your entrepreneurial journey.</p>
        </div>
        <div class="col-md-5">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="250" height="250" src="resources2.jpeg" alt="">
        </div>
    </div>
    </div>

     <footer class="bg-dark text-center text-white">
        <!-- Grid container -->
        <br>
        <p style="font-family: Arial, Helvetica, sans-serif;">FOLLOW US</p>
        <div class="container p-4 pb-0">
          <!-- Section: Social media -->
          <section class="mb-4">
            <!-- Facebook -->
            <a
              class="btn text-white btn-floating m-1"
              style="background-color: #3b5998;"
              href="#!"
              role="button"
              ><i class="fab fa-facebook-f"></i
            ></a>
      
            <!-- Twitter -->
            <a
              class="btn text-white btn-floating m-1"
              style="background-color: #55acee;"
              href="#!"
              role="button"
              ><i class="fab fa-twitter"></i
            ></a>
      
            <!-- Google -->
            <a
              class="btn text-white btn-floating m-1"
              style="background-color: #dd4b39;"
              href="#!"
              role="button"
              ><i class="fab fa-google"></i
            ></a>
      
            <!-- Instagram -->
            <a
              class="btn text-white btn-floating m-1"
              style="background-color: #ac2bac;"
              href="#!"
              role="button"
              ><i class="fab fa-instagram"></i
            ></a>
      
            <!-- Linkedin -->
            <a
              class="btn text-white btn-floating m-1"
              style="background-color: #0082ca;"
              href="#!"
              role="button"
              ><i class="fab fa-linkedin-in"></i
            ></a>
            <!-- Github -->
            <a
              class="btn text-white btn-floating m-1"
              style="background-color: #333333;"
              href="#!"
              role="button"
              ><i class="fab fa-github"></i
            ></a>
          </section>
          <!-- Section: Social media -->
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2023 Arogya portal. All rights reserved.
          <a class="text-white" href="https://mdbootstrap.com/"></a>
        </div>
        <!-- Copyright -->
      </footer>